/*

colors :
light green: #7ed56f;
medium green: #55c57a;
dark blue : #022859;
dark blue : #0D518C;
dark blue : #F2F2F2;
dark blue : #0A7AA6;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #35b6f1d0, #5464f3d0), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.main-text {
  color: white;
  text-transform: uppercase;
  /* the position is in relation to the parent element */
  position: absolute;
  top: 40%;
  left: 50%;
  /* the translate depends on the element itself */
  transform: translate(-50%, -50%);
  /*you can always use flex box*/
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 80%; */
}

.primary-heading-main {
  font-size: 60px;
  display: block;
  letter-spacing: 17px;
}

.primary-heading-sub {
  font-size: 20px;
  display: block;
  letter-spacing: 10px;
}