.section-about {
    background-color: $grey-light-1;
    padding: 25rem 0;
    margin-top: -25vh;
}
.section-features {
    background-image: linear-gradient(to right bottom, rgba($primary-light-green, 0.8), rgba($primary-dark-green, 0.8)),
        url(../img/nat-4.jpg);
    background-size: cover;
    background-position: center;
    padding: 20rem 0;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    padding: 25rem 0 8rem 0;
    margin-top: -10rem;
    background-color: $grey-light-1;
}
