.section-about {
    background-color: $grey-light-1;
    padding: 25rem 0;
    margin-top: -25vh;
    @include respond(tab-port) {
        padding: 20rem 0;
        margin-top: -20vh;
    }
}
.section-features {
    background-image: linear-gradient(to right bottom, rgba($primary-light-green, 0.8), rgba($primary-dark-green, 0.8)),
        url(../img/nat-4.jpg);
    background-size: cover;
    background-position: center;
    padding: 20rem 0;
    transform: skewY(-7deg);
    margin-top: -10rem;
    @include respond(tab-port) {
        padding: 4rem 0;
        margin-top: -8rem;
        transform: skewY(-4deg);
    }

    & > * {
        transform: skewY(7deg);
        @include respond(tab-port) {
            transform: skewY(4deg);
        }
    }
}

.section-tours {
    padding: 25rem 0 10rem 0;
    margin-top: -10rem;
    background-color: $grey-light-1;
    @include respond(tab-port) {
        padding: 16rem 0 1rem 0;
        margin-top: -9vh;
    }
}

.section-stories {
    margin-top: -10rem;
    padding: 20rem 0 10rem 0;
    @include respond(tab-port) {
        padding: 5rem 0 5rem 0;
        margin-top: 0vh;
    } // for the video positioning.
    position: relative;
}

.section-booking {
    padding: 15rem 0;
    @include respond(tab-port) {
        padding: 5rem 0;
    }
    background-image: linear-gradient(to right bottom, rgba($primary-light-green, 0.8), rgba($primary-dark-green, 0.8));
    .book {
        background-image: linear-gradient(105deg, rgba(white, 0.9) 0%, rgba(white, 0.9) 50%, transparent 50%),
            url(../img/nat-10.jpg);
        background-size: cover;
        // background-size: 100%; cover only the x direction
        background-repeat: no-repeat;
        border-radius: 3px;
        box-shadow: 0 1rem 4rem rgba(black, 0.2);
        @include respond(tab-port) {
            background-image: linear-gradient(105deg, rgba(white, 0.9) 0%, rgba(white, 0.9) 100%),
                url(../img/nat-10.jpg);
        }
        @include respond(phone) {
            background-image: linear-gradient(105deg, rgba(white, 0.9) 0%, rgba(white, 0.9) 100%),
                url(../img/nat-10.jpg);
        } // we didn't include these two styles to make the form a standalone component
        &__form {
            width: 60%;
            padding: 6rem 8rem 8rem;
            @include respond(tab-port) {
                width: 100%;
                padding: 2rem;
                text-align: center;
            }
            @include respond(phone) {
                width: 100%;
                padding: 4rem;
                text-align: center;
            }
        }
    }
}
