@import "mixins";
///////////////////////////////
/************ icon ***********/
///////////////////////////////
.logo {
    height: 3.25rem;
}
///////////////////////////////
/************ search *********/
///////////////////////////////
.search {
    flex: 0 0 40%;
    font-size: 1.3rem;
    @include flex-v;
    @media screen and (max-width: $bp-xxSmall) {
        order: 1;
        flex: 0 0 100%;
        margin-left: +1.5rem;
    }
    &__input {
        // since the input does not inherit the font properties
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        padding: 0.7rem 1rem;
        width: 80%;
        border-radius: 2rem;
        background-color: var(--color-grey-light-2);
        border: none;
        transition: all 0.3s;
        margin-right: -3rem;
        @media screen and (max-width: $bp-xxSmall) {
            width: 90%;
            margin-left: -3rem;
        }
        &:focus {
            width: 100%;
            outline: none;
            background-color: var(--color-grey-light-3);
        }
        &::-webkit-input-placeholder {
            color: var(--color-grey-light-4);
        }
    }
    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }
    &__button {
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--color-grey-light-2);
        outline: none;
        border: none;
        cursor: pointer;
    }
    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        vertical-align: middle;
        fill: var(--color-grey-dark-2);
    }
}
///////////////////////////////
/********* user-nav **********/
///////////////////////////////
.user-nav {
    @include flex-v;
    &__icon-box {
        position: relative;
    }
    & > * {
        @include flex-v;
        height: 100%;
        padding: 0 2rem;
        &:last-of-type {
            padding-right: 0;
            margin-right: 0;
        }

        &:hover {
            background-color: var(--color-grey-light-3);
            cursor: pointer;
        }
    }
    &__icon {
        height: 2.7rem;
        width: 2.7rem;
        fill: var(--color-grey-dark-2);
    }
    &__notification {
        @include flex-v;
        background-color: var(--color-primary);
        border-radius: 50%;
        color: white;
        height: 1.6rem;
        width: 1.6rem;
        position: absolute;
        top: 1rem;
        left: 4rem;
        font-size: 1rem;
    }
    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 0.9rem;
        @media screen and (max-width: $bp-medium) {
            height: 3.75rem;
        }
    }
    &__name {
        @media screen and (max-width: $bp-medium) {
            display: none;
        }
    }
}
///////////////////////////////
/*******side navigation*******/
///////////////////////////////
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__nav {
        list-style-type: none;
        @media screen and (max-width: $bp-medium) {
            margin: 0;
            display: flex;
        }
        margin-top: 3.5rem;
    }
    .nav__item {
        width: 100%;
        position: relative;
        @media screen and (max-width: $bp-medium) {
            display: flex;
            width: 100%;
        }
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            background-color: var(--color-primary);
            transition: transform 0.2s, width cubic-bezier(0, 1, 0, 1) 0.4s 0.4s, background-color 0.12s;
            transform: scaleY(0);
            transform-origin: center;
            width: 4px;
            z-index: 0;
        }
        &:hover::before {
            transform: scaleY(1);
            width: 100%;
        }
        &:not(:last-child) {
            margin-bottom: 0.5rem;
            @media screen and (max-width: $bp-medium) {
                margin-bottom: 0rem;
            }
        }

        &:active::before {
            background-color: var(--color-primary-light);
        }
    }
    .nav__item--active {
        background-color: var(--color-primary);
    }

    /*************************************/
    //////////  cool hover effect  ////////
    /*************************************/
    // .nav__item {
    //     width: 100%;
    //     position: relative;
    //     &::before {
    //         transition: all 0.2s;
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         content: "";
    //         background-color: var(--color-primary);
    //         height: 100%;
    //         transform: scale(0);
    //         transform-origin: center;
    //         width: 4px;
    //     }
    //     &:hover::before {
    //         transform: scale(1);
    //     }
    //     &:not(:last-child) {
    //         margin-bottom: 0.5rem;
    //     }
    // }
    .nav__link:link,
    .nav__link:visited {
        position: relative;
        z-index: 10;
        width: 100%;
        // we want the hover effect on the items to be bellow the links
        padding: 1.5rem 1rem;
        text-decoration: none;
        color: var(--color-grey-light-1);
        display: flex;
        align-items: center;
        @media screen and (max-width: $bp-medium) {
            display: flex;
            justify-content: center;
        }
        @media screen and (max-width: $bp-xSmall) {
            flex-direction: column;
            align-items: center;
        }
    }
    .nav__icon {
        width: 2rem;
        height: 2rem;
        // current color is the color of the element or it parent
        fill: currentColor;
        margin-right: 3rem;
        @media screen and (max-width: $bp-medium) {
            margin-right: 1rem;
        }
        @media screen and (max-width: $bp-xSmall) {
            margin-right: 0rem;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    &__copyright {
        color: var(--color-grey-light-3);
        font-size: 1.2rem;
        padding: 1rem;
        text-align: center;
        @media screen and (max-width: $bp-medium) {
            display: none;
        }
    }
}
///////////////////////////////
/***********gallery***********/
///////////////////////////////
.gallery {
    display: flex;

    &__photo {
        width: 100%;
        // block so the image does not display an extra space below it
        // when we leave it as an inline element, it always need to be
        // either inline or inline block.
        display: block;
    }
}
///////////////////////////////
/**********overview***********/
///////////////////////////////

.overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    border-bottom: var(--line);
    &__heading {
        font-weight: 300;
        font-size: 2rem;
        text-transform: uppercase;
        margin-right: 2rem;
        @media screen and (max-width: $bp-medium) {
            font-size: 1.5rem;
            margin-right: 0.3rem;
        }
        @media screen and (max-width: $bp-xSmall) {
            font-size: 1.3rem;
        }
    }
    &__stars {
        display: flex;
        align-items: center;
        color: var(--color-primary);
        // flex: 1; the stars will take the entire space which
        // is not ideal if you you want to hover on them for ex.
        margin-right: auto;
    }
    &__star-icon,
    &__location-icon {
        width: 2rem;
        height: 2rem;
        fill: currentColor;
        @media screen and (max-width: $bp-medium) {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    &__location {
        color: var(--color-primary);
        display: flex;
        align-items: center;
    }
    &__rating {
        @include flex-v;
        flex-direction: column;
        background-color: var(--color-primary);
        color: white;
        padding: 1rem 1.5rem;
        @media screen and (max-width: $bp-medium) {
            padding: 0.5rem 1.5rem;
        }
    }
    &__average {
        font-size: 1.6rem;
        @media screen and (max-width: $bp-medium) {
            font-size: 1.4rem;
        }
    }
    &__votes {
        font-size: 1rem;
        margin-top: -0.7rem;
        text-align: center;
        @media screen and (max-width: $bp-medium) {
            font-size: 0.8rem;
            margin-top: 0.1rem;
        }
    }
}
////////////////////////////////////////////
/********** reusable components ***********/
////////////////////////////////////////////
.btn-inline {
    border: none;
    display: inline-block;

    cursor: pointer;
    // to make it as a reusable component
    background-color: transparent;

    margin: 0 2rem 0 1rem;
    @media screen and (max-width: $bp-medium) {
        margin: 0 1rem 0 0.5rem;
        font-size: 1.2rem;
    }
    color: var(--color-primary);
    transition: all 0.2s;
    border-bottom: 1px solid currentColor;
    & span {
        margin-left: 3px;
        transition: margin-left 0.2s;
    }
    &:hover {
        color: var(--color-grey-dark-1);
        & span {
            margin-left: 12px;
        }
    }
    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}
.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

.list {
    list-style-type: none;
    padding: 3rem 0;
    margin: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    display: flex;
    flex-wrap: wrap;
    &__item {
        flex: 0 0 50%;
        margin-bottom: 0.7rem;
        &:before {
            content: "";
            display: inline-block;
            width: 1.2rem;
            height: 1.2rem;
            margin-right: 1rem;
            vertical-align: baseline;
            /*********working across all browser**********/

            // you should set manually the fill on the svg
            // background-image: url(../img/chevron-thin-right.svg);
            // background-size: cover;

            /*********only on modern browsers**********/
            @supports ((-webkit-mask-image: url()) and (-webkit-mask-size: cover)) {
                -webkit-mask-image: url(../img/chevron-thin-right.svg);
                -webkit-mask-size: cover;
                mask-image: url(../img/chevron-thin-right.svg);
                mask-size: cover;
                background-color: var(--color-primary);
            }
        }
    }
}
.btn {
    color: white;
    outline: none;
    border: none;
    border-radius: 100px;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    position: relative;
    text-align: center;
    overflow: hidden;
    & > * {
        display: inline-block;
        padding: 2.5rem 7.5rem;
        @media screen and (max-width: $bp-medium) {
            padding: 1.5rem 4.5rem;
        }
        transition: transform 0.2s;
    }
    &--visible {
        transform: translateY(0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    &--invisible {
        visibility: hidden;
        transform: translateY(-100%);
    }
    &:hover {
        cursor: pointer;
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }
    &:hover &--invisible {
        visibility: visible;
        transform: translateY(0);
    }
    &:hover &--visible {
        visibility: hidden;
        transform: translateY(-100%);
    }
    &:focus {
        animation: pulsate 0.8s;
        outline: none;
    }
}
//////////////////////////////////////
/**********   animation   ***********/
//////////////////////////////////////
@keyframes pulsate {
    0% {
        box-shadow: none;
        transform: scale(1);
    }
    50% {
        box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.2);
        transform: scale(1.05);
    }
    100% {
        box-shadow: none;
        transform: scale(1);
    }
}
//////////////////////////////////////
/**********   recommend   ***********/
//////////////////////////////////////
.recommend {
    font-size: 1.4rem;
    color: var(--color-grey-dark-3);
    display: flex;
    align-items: center;
    &__count {
        margin-right: auto;
    }
    &__friends {
        display: flex;
        margin-right: 1rem;
    }
    &__photo {
        box-sizing: content-box;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 3px solid var(--color-grey-light-1);
        margin-right: -1.5rem;
    }
}
//////////////////////////////////////
/**********  user-reviews  **********/
//////////////////////////////////////
.user-reviews {
    @media screen and (max-width: $bp-small) {
        &:last-child {
            width: 100%;
        }
    }
    .review {
        @media screen and (max-width: $bp-medium) {
            padding: 1.5rem;
        }
        @media screen and (max-width: $bp-small) {
            margin-right: 0;
        }
        padding: 3rem;
        background-color: white;
        box-shadow: var(--shadow-light);
        position: relative;
        &:not(:last-of-type) {
            margin-bottom: 3rem;
        }
        &__user {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 2rem;
        }
        &__text {
            position: relative;
        }
        &__photo {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
        }
        &__user-box {
            margin-left: 2rem;
            color: var(--color-grey-dark-3);
        }
        &__user-name {
            color: var(--color-grey-dark-2);
            font-weight: 600;
            font-size: 1.2rem;
        }
        &__user-date {
            font-size: 1rem;
        }
        &__rating {
            margin-left: auto;
            color: var(--color-primary);
            font-size: 2.2rem;
            @media screen and (max-width: $bp-small) {
                margin-right: 2rem;
            }
        }
        &::before {
            content: "\201C";
            position: absolute;
            top: -7.5rem;
            left: -0.5rem;
            // width: 2rem;
            // height: 2rem;
            color: var(--color-grey-light-2);
            font-size: 20rem;
            font-family: sans-serif;
        }
    }
    button {
        margin-top: 2rem;
        font-size: 1.6rem;
    }
}
//////////////////////////////////////
/********** call to action **********/
//////////////////////////////////////
.cta {
    padding: 3.5rem 0;
    text-align: center;
    &__text {
        font-weight: 400;
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
        text-transform: uppercase;
    }
}
