@import "mixins";
///////////////////////////////
/************ icon ***********/
///////////////////////////////
.logo {
    height: 3.25rem;
}
///////////////////////////////
/************ search *********/
///////////////////////////////
.search {
    flex: 0 0 40%;
    font-size: 1.3rem;
    @include flex-v;
    &__input {
        // since the input does not inherit the font properties
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        padding: 0.7rem 1rem;
        width: 80%;
        border-radius: 2rem;
        background-color: var(--color-grey-light-2);
        border: none;
        transition: all 0.3s;
        margin-right: -3rem;
        &:focus {
            width: 100%;
            outline: none;
            background-color: var(--color-grey-light-3);
        }
        &::-webkit-input-placeholder {
            color: var(--color-grey-light-4);
        }
    }
    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }
    &__button {
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--color-grey-light-2);
        outline: none;
        border: none;
        cursor: pointer;
    }
    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        vertical-align: middle;
        fill: var(--color-grey-dark-2);
    }
}
///////////////////////////////
/********* user-nav **********/
///////////////////////////////
.user-nav {
    height: 100%;
    @include flex-v;
    &__icon-box {
        position: relative;
    }
    & > * {
        @include flex-v;
        height: 100%;
        padding: 0 2rem;

        &:hover {
            background-color: var(--color-grey-light-3);
            cursor: pointer;
        }
    }
    &__icon {
        height: 2.7rem;
        width: 2.7rem;
        fill: var(--color-grey-dark-2);
    }
    &__notification {
        @include flex-v;
        background-color: var(--color-primary);
        border-radius: 50%;
        color: white;
        height: 1.6rem;
        width: 1.6rem;
        position: absolute;
        top: 1rem;
        left: 4rem;
        font-size: 1rem;
    }
    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 0.9rem;
    }
}
///////////////////////////////
/*****side navigation*********/
///////////////////////////////
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &__nav {
        list-style-type: none;
        margin-top: 3.5rem;
    }
    .nav__item {
        width: 100%;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            background-color: var(--color-primary);
            transition: transform 0.2s, width cubic-bezier(0, 1, 0, 1) 0.4s 0.4s, background-color 0.12s;
            transform: scaleY(0);
            transform-origin: center;
            width: 4px;
            z-index: 0;
        }
        &:hover::before {
            transform: scaleY(1);
            width: 100%;
        }
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        &:active::before {
            background-color: var(--color-primary-light);
        }
    }
    .nav__item--active {
        background-color: var(--color-primary);
    }

    /*************************************/
    //////////  cool hover effect  ////////
    /*************************************/
    // .nav__item {
    //     width: 100%;
    //     position: relative;
    //     &::before {
    //         transition: all 0.2s;
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         content: "";
    //         background-color: var(--color-primary);
    //         height: 100%;
    //         transform: scale(0);
    //         transform-origin: center;
    //         width: 4px;
    //     }
    //     &:hover::before {
    //         transform: scale(1);
    //     }
    //     &:not(:last-child) {
    //         margin-bottom: 0.5rem;
    //     }
    // }
    .nav__link:link,
    .nav__link:visited {
        position: relative;
        z-index: 10;
        // we want the hover effect on the items to be bellow the links
        padding: 1.5rem 1rem;
        text-decoration: none;
        color: var(--color-grey-light-1);
        display: flex;
        align-items: center;
    }
    .nav__icon {
        width: 2rem;
        height: 2rem;
        // current color is the color of the element or it parent
        fill: currentColor;
        margin-right: 3rem;
    }
    &__copyright {
        color: var(--color-grey-light-3);
        font-size: 1.2rem;
        padding: 1rem;
        text-align: center;
    }
}
