.popup {
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.8);
    @include center-vertical;
    position: fixed;
    z-index: 2200;
    // hide the popup in the default state.
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;

    &__content {
        @include center-vertical;
        width: 75%;
        //avoid specifying the height so the container grows with the content.
        background-color: white;
        box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.8);
        color: $text-grey;
        border-radius: 5px;
        display: table;
        // to hide the image that overflow the border.
        overflow: hidden;
        // scale the content when activating the popup
        transform: translate(-50%, -50%) scale(0.2);
        transition: all 0.2s 0.2s;
    }
    &__left {
        width: 33.3333333%;
        display: table-cell;
        @include respond(tab-port) {
            display: none;
        }
    }
    &__image {
        display: block;
        width: 100%;
    }
    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
        @include respond(tab-port) {
            text-align: center;
        }
    }
    &__text {
        margin-bottom: 2rem;
        -webkit-hyphens: auto;
        // WORKS ONLY IF YOU HAVE SPECIFIES the lang in html
        hyphens: auto;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid rgba(128, 128, 128, 0.479);
    }

    &:target {
        visibility: visible;
        opacity: 1;
    }
    // when the popup becomes the target we select the content
    &:target &__content {
        // animate the content of the popup when it appears
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            font-size: 4rem;
            display: inline-block;
            text-decoration: none;
            position: absolute;
            top: 1rem;
            right: 1.5rem;
            line-height: 1;
            color: grey;
        }
        &:hover {
            color: $primary-medium-green;
        }
    }
}
