// COLOR VARIABLES
$color-blue-light-1: #00a1e0;
$color-blue-light-2: #215ca0;
$color-blue-light-3: #032e61;
$color-grey-1: #333d47;
$color-grey-2: #101214;
$color-blue-dark-2: #211746;
$color-blue-dark-1: #430098;
$gradient-primary: linear-gradient(135deg, #9d6ed0, #43accd);

// FONT VARIABLES
$font-primary: "Lato", sans-serif;

$font-display: "Open Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    color: $color-grey-2;
    font-weight: 300;
    line-height: 1.6;
}
