/***********  colors  ***********/

$color-black: black;
$color-grey-light-1: #eee;
$text-grey: #777;
$color-grey-dark-3: #333;
$color-grey-dark: #444;
$primary-light-green: #7ed56f;
$primary-medium-green: #55c57a;
$primary-dark-green: #28b485;
$grey-light-1: #f7f7f7;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

/***********  grid  ***********/

$grid-width: 114rem;
$grid-width-tablet: 50rem;
$vertical-gutter-width: 6rem;
$vertical-gutter-width-small: 4.5rem;
$horizontal-gutter-width: 4rem;

/***********  font  ***********/

$default-font-size: 1.6rem;
